.cards-list {
  .card-item {
    
  }
}

.card-item + .card-item {
  padding-top: 40px;
}

.card {
  @include clearfix;
  
  .card-img {
    float: left;
    width: 30%;
  }
  
  .card-texts {
    float: right;
    width: 65%;
    line-height: 1.45;
  }
  
  .card-title {
    font-size: 27px;
    color: #404040;
  }
  
  .card-description {
    font-size: 15px;
    color: #8b8b8b;
  }
}
