@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI-Light.eot');
  src: url('assets/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUI-Light.woff') format('woff'),
  url('assets/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Univers LT 45';
  src: url('assets/fonts/UniversLT-Light.eot');
  src: url('assets/fonts/UniversLT-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/UniversLT-Light.woff') format('woff'),
  url('assets/fonts/UniversLT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('assets/fonts/AlteHaasGrotesk_Bold.eot');
  src: url('assets/fonts/AlteHaasGrotesk_Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/AlteHaasGrotesk_Bold.woff') format('woff'),
  url('assets/fonts/AlteHaasGrotesk_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
