/* Mobile
============================= */
.header {
  position: relative;
  height: $header-height;
  background: url('#{$img-path}/header-bg.jpg') no-repeat;
  background-size: cover;
  
  .header-text-wrapper {
    position: absolute;
    bottom: 15%;
    width: 100%;
    color: #fff;
    font-size: 40px;
    text-align: center;
  }
  
  .header-text-title {
    font-family: $ff-atlas-bold;
    font-size: 1em;
  }
  
  .header-text-subtext {
    font-size: 0.35em;
  }
}

/* Desktop
============================= */
@include desktop {
  .header {
    height: $dt-header-height;
    
    .header-text-wrapper {
      font-size: 70px;
    }
  }
}
