.header {
  position: relative;
  height: 400px;
  background: url('assets/images/header-bg.jpg') no-repeat;
  background-size: cover;
  
  .header-text-wrapper {
    position: absolute;
    bottom: 15%;
    width: 100%;
    color: #fff;
    font-size: 40px;
    text-align: center;
  }
  
  .header-text-title {
    font-family: $ff-atlas-bold;
    font-size: 1em;
  }
  
  .header-text-subtext {
    font-family: $ff-univers-lt;
    font-size: 0.35em;
  }
}


/* Desktop
======================
 */
@include desktop {
  .header {
    height: 590px;
  
    .header-text-wrapper {
      font-size: 70px;
    }
  }
}
