// Global Variables


// Mobile
$navbar-height: 60px;

$container-gutter: 15px;

// Desktop (dt => desktop)
$dt-container-width: 1024px;
$dt-container-gutter: 35px;

// Navbar
$dt-navbar-height: 90px;
