%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

