@import '../../assets/styles/shared';

// Local Variables
$hb-width: 30px;
$hb-bar-height: 3px;
$hb-bar-offset: 7px;
$hb-color: #de6d6e;
$hb-anim-time: 0.2s;

.navbar {
  opacity: 0.9;
  position: relative;
  z-index: 1;
  height: $navbar-height;
  background-color: #fff;
  
  &.collapsed {
    .menu {
      height: 200px;
    }
    
    .hamburger {
      transform: scale(0.7);
    }
  
    .bar {
      background: transparent;
      transition: background 0s $hb-anim-time;
    
      &:before {
        top: 0;
        transform: rotate(45deg);
        transition: top $hb-anim-time 0s, transform $hb-anim-time $hb-anim-time;
      }
    
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom $hb-anim-time 0s, transform $hb-anim-time $hb-anim-time;
      }
    }
  }
}

.navbar-container {
  height: 100%;
  font-size: 0;
}

.logo-wrapper {
  display: inline-block;
  height: 100%;
}

.logo {
  @include center-vertical;
  display: block;
  width: 80px;
  height: auto;
}

/* Hamburger
============================= */
.hamburger {
  position: absolute;
  right: 15px;
  width: $hb-width;
  height: 100%;
  transition: transform $hb-anim-time;
  user-select: none;
}

.bar {
  position: absolute;
  top: 44%;
  width: 100%;
  height: $hb-bar-height;
  background: $hb-color;
  transition: background 0s $hb-anim-time;
  
  &:before,
  &:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $hb-bar-height;
    background-color: $hb-color;
    content: "";
  }
  
  &:before {
    top: -$hb-bar-offset;
    transition: top $hb-anim-time $hb-anim-time, transform $hb-anim-time 0s;
  }
  
  &:after {
    bottom: -$hb-bar-offset;
    transition: bottom $hb-anim-time $hb-anim-time, transform $hb-anim-time 0s;
  }
}


/* Menu
============================= */
.menu {
  overflow: hidden;
  height: 0;
  margin: 0 -#{$container-gutter};
  font-size: 0;
  line-height: $navbar-height;
  font-family: $ff-segoe;
  color: #454545;
  background-color: #fff;
  transition: height 0.5s;
}

.menu-item {
  padding: 0 1em;
  font-size: 13px;
}

.menu-item-link {
  display: block;
  
  &.login-btn {
    display: inline;
    padding: 6px 12px;
    border-radius: 3px;
    color: #fff;
    background-color: #de6d6e;
    
    &:before {
      padding-right: 5px;
    }
  }
}

/* Tablet
============================= */
@include tablet {
  .navbar.collapsed .menu {
    height: auto;
  }
  
  .hamburger {
    display: none;
  }
  
  .navbar {
    height: $tb-navbar-height;
  }
  
  .navbar-container {
    @include clearfix;
  }
  
  .logo-wrapper {
    float: left;
  }
  
  .logo {
    width: auto;
  }
  
  .menu {
    float: right;
    height: 100%;
    line-height: $tb-navbar-height;
  }
  
  .menu-item {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
  }
}

/* Desktop
============================= */
@include desktop {
  // Local variables
  $menu-item-font-size: 17px;
  
  .menu-item {
    font-size: $menu-item-font-size;
  }
  
  .menu-item-link {
    position: relative;

    &:after {
      position: absolute;
      top: ($tb-navbar-height / 2) - ($menu-item-font-size / 2);
      left: 0;
      width: 0;
      height: 1px;
      background-color: #000;
      transition: width 0.3s;
      content: '';
    }

    &.active,
    &:hover {
      &:after { width: 100%; }
    }

    &.login-btn {
      transition: box-shadow 0.3s;

      &:hover { box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3); }
      &:after { display: none; }
    }
  }
}
