<nav class="navbar" [class.collapsed]="isCollapsed">

  <div class="navbar-container container">

    <div class="hamburger" (click)="toggleMenu()">
      <span class="bar"></span>
    </div>

    <a routerLink="/" class="logo-wrapper">
      <img src="assets/images/logo.png" alt="logo" class="logo">
    </a>

    <ul class="menu">
      <li *ngFor="let menuItem of menuItems" class="menu-item">
        <a routerLink="{{ menuItem.link }}"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="menu-item-link {{ menuItem.cssClass }}">{{ menuItem.text }}</a>
      </li>
    </ul>

  </div>

</nav>
