<section class="site-section services">

  <header class="services-header container">

    <h1 class="services-title">Lorem Ipsum is simply dummy </h1>

    <h2 class="services-excerpt">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
    </h2>

  </header>

  <div class="balloons container">
    <balloon *ngFor="let balloon of balloons" [balloon]="balloon"></balloon>
  </div>

</section>
