<app-header></app-header>

<section class="site-section services">

  <header class="services-header container">

    <h1 class="services-title">Lorem Ipsum is simply dummy </h1>

    <h2 class="services-excerpt">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
    </h2>

  </header>

  <ul class="services-list container">

    <li class="service-item">
      <!-- component -->
      <div class="balloon tickets">
        <div class="front">
          <img src="assets/images/tickets.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>
    <li class="service-item">
      <!-- component -->
      <div class="balloon camera">
        <div class="front">
          <img src="assets/images/camera.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>
    <li class="service-item">
      <!-- component -->
      <div class="balloon beermug">
        <div class="front">
          <img src="assets/images/beermug.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>
    <li class="service-item">
      <!-- component -->
      <div class="balloon ipad">
        <div class="front">
          <img src="assets/images/ipad.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>

  </ul>

</section>

<section class="site-section cards">

  <ul class="cards-list container">
    <li class="card-item">
    <div class="card">
      <img src="assets/images/card-img.jpg" alt="" class="card-img">
      <div class="card-texts">
        <h4 class="card-title">Lorem Ipsum is simply</h4>
        <p class="card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
    </div>
  </li>
    <li class="card-item">
      <div class="card">
        <img src="assets/images/card-img.jpg" alt="" class="card-img">
        <div class="card-texts">
          <h4 class="card-title">Lorem Ipsum is simply</h4>
          <p class="card-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>
    </li>
    <li class="card-item">
      <div class="card">
        <img src="assets/images/card-img.jpg" alt="" class="card-img">
        <div class="card-texts">
          <h4 class="card-title">Lorem Ipsum is simply</h4>
          <p class="card-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>
    </li>
  </ul>

</section>

<footer class="site-footer">
  <div class="clearfix container">
    <nav class="footer-nav">
      <ul class="footer-menu">
        <li class="menu-item">
          <a href="#" class="menu-item-link">Sub Menu</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Android</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Apps</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Articles</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Backgrounds</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Blogger</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Books</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Coding</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Sub Menu</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Freebies</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Greetings</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Icons</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Illustrator</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Inspiration</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">iPad</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">iPhone</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Sub Menu</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Drupal</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Fonts</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Freebies</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Greetings</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Icons</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Illustrator</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Inspiration</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Sub Menu</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">JQuery</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Magento</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Mobile</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Photoshop</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Plugins</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Resource</a></li>
            <li class="sub-menu-item"><a href="#" class="sub-menu-item-link">Templates</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="socials">
      sdasdsad asd asd
    </div>
  </div>
</footer>


