<app-header></app-header>

<section class="services">

  <header class="services-header container">

    <h1 class="services-title">Lorem Ipsum is simply dummy </h1>

    <h2 class="services-excerpt">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
    </h2>

  </header>

  <ul class="services-list">

    <li class="service-item">
      <!-- component -->
      <div class="balloon">
        <div class="front">
          <img src="assets/images/tickets.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>
    <li class="service-item">
      <!-- component -->
      <div class="balloon">
        <div class="front">
          <img src="assets/images/camera.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>
    <li class="service-item">
      <!-- component -->
      <div class="balloon">
        <div class="front">
          <img src="assets/images/beermug.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>
    <li class="service-item">
      <!-- component -->
      <div class="balloon">
        <div class="front">
          <img src="assets/images/ipad.png" alt="" class="balloon-icon">
          <span class="title">Tickets</span>
        </div>
        <div class="back">
          Lorem Ipsum is simply dummy text of the
          printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text
        </div>
      </div>
    </li>

  </ul>

</section>
