.socials {
  $social-item-size: 50px;
  
  @include justify-elements;
  padding: 20px;
  font-size: 0;
  
  .social-item {
    vertical-align: top;
    width: $social-item-size;
    height: $social-item-size;
    border-radius: 50%;
    font-size: 25px;
    line-height: $social-item-size;
    text-align: center;
    background-color: #696b6a;
    color: #252825;
    cursor: pointer;
    
    &:hover {
      animation: rotate 0.5s;
    }
    
    &.icon-basketball {
      font-size: 35px;
      line-height: 56px;
    }
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}
